.modal {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-visible {
  visibility: visible;
}

.modal__content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 430px;
  max-height: 457px;
  padding: 34px 36px 28px;
  border-radius: 16px;
  position: relative;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: -45px;
  right: -40px;
}

.modal__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  text-align: left;
}

.modal__children {
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 100%;
  margin: 22px 0 0;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 9px;
  color: #2f71e5;
}

.modal__input {
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid #d1d2d6;
  font-family: Inter; /*How strange*/
  font-size: 14px;
}

.modal__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0 0;
  position: relative;
}

.modal__error-msg {
  color: #FF0000;
  font-size: 12px;
  margin: 4px 0 0;
  width: 143px;
  height: 14px;
}

.modal__second-error-msg {
  position: absolute;
  top: -25px;
}

.modal__btn {
  width: 360px;
  height: 64px;
  border-radius: 100px;
  border: none;
  background-color: #2f71e5;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 5px 15px 0px #0e1a3933;
  cursor: pointer;
}

.modal__or-text {
  margin: 16px 0 0;
  font-family: Inter; /*How strange*/
  font-size: 14px;
  line-height: 100%;
}

.modal__or-text-btn {
  cursor: pointer;
  color: #2f71e5;
}
