.section__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  width: 100%;
  background-image: url("../../images/background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preloader-section {
  background-color: #f5f6f7;
}

.results {
  background-color: #f5f6f7;
}

.results__text {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
}

.results__content {
  display: flex;
  flex-direction: column;
  padding: 80px 104px;
}

.results__list {
  list-style-type: none;
  padding: 64px 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.results__show-more-btn {
  width: 288px;
  height: 64px;
  background-color: #fff;
  border-radius: 80px;
  border: none;
  margin: 0 auto;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.results__show-more-btn:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 400px;
  }

  .section__content {
    padding: 0 40px;
  }

  .results__text {
    width: 336px;
    height: 34px;
    font-size: 30px;
    line-height: 34px;
  }

  .results__list {
    gap: 8px;
    padding: 32px 0;
  }

  .results__content {
    padding: 40px;
  }

  .results__show-more-btn {
    width: 240px;
    height: 56px;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    height: 536px;
  }

  .section__content {
    padding: 0 16px;
  }

  .results__content {
    padding: 32px 16px 24px;
  }

  .results__text {
    font-size: 30px;
    line-height: 34px;
  }

  .results__list {
    padding-top: 58px;
    gap: 10px;
  }
}
