.header {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 5;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.header_dark-theme {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(209, 210, 214, 0.5);
  position: relative;
}

.header__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  height: 24px;
}

.header__logo {
  cursor: pointer;
  width: 200px;
  height: 24px;
}

.header__navigation-icon {
  visibility: hidden;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .header {
    height: 66px;
  }

  .header__content {
    padding: 0 40px;
  }

  .header__logo {
    height: 24.8px;
    width: 164px;
  }

  .header__logo-link {
    height: 24.8px;
  }
}

@media screen and (max-width: 425px) {
  .header__content {
    padding: 0 20px;
  }

  .header__logo {
    height: 24px;
    width: 120px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    height: 56px;
    display: flex;
    border-bottom: none;
    flex-direction: column;
  }

  .header::after {
    content: "";
    position:absolute;
    top: 56px;
    height: 1px;
    left: 0;
    right: 0;
    background-color: rgba(250, 250, 250, 0.2);

  }

  .header_dark-theme::after {
    background-color: #D1D2D6;
  }

  .header__content_menu-active {
    background-color: #1a1b22;
  }

  .header__content {
    padding: 16px 16px 16px;
    flex-wrap: wrap;
    margin: 0;
    height: auto;
  }

  .header__logo {
    height: 24px;
    width: 117px;
  }

  .header__logo-link {
    height: 24px;
  }

  .header__navigation-icon {
    position: relative;
    visibility: visible;
    width: 24px;
    height: 24px;
  }
}
